@import "tailwindcss";

:root {
  --background: #0a1d3a;
  --notification-background: #0D111D;
  --notification-card:#101625;
  --warning:#ffc933;
  --error:#e74739;
  --success:#87c445;
  --neutral:#1b9bc9;
  --notification-text:#ADB7D2;
  --notification-heading:#F0F0F0;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--notification-background);
  --color-notification-card: var(--notification-card);
  --color-warning:var(--warning);
  --color-error:var(--error);
  --color-success:var(--success);
  --color-neutral:var(--neutral);
  --color-notification-text:var(--notification-text);
  --color-notification-heading:var(--notification-heading);
  --font-sans: var(--font-exo2-sans);
}

/* Hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
